{% extends 'layout/basic.html' %}

{% load bootstrap4 %}

{% block title %}
	Восстановление пароля успешно
{% endblock title %}

{% block sidebar %}
    <li class="nav-item"><a class="top_side_bar">Восстановление пароля успешно</a></li>
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item active" aria-current="page">
        Восстановление пароля успешно
    </li>
{% endblock %}

{% block content %}
	<h2><b>Письмо на указанную почту было отправленно</b></h2>
	<p><a href="{% url 'main:index_url' %}">На главную</a></p>
{% endblock content %}