{% extends 'layout/basic.html' %}

{% block title %}
	Смена пароля
{% endblock title %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item active" aria-current="page">
        <a href="{% url 'main:profile_url' %}">Мой профиль</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Изменить пароль
    </li>
{% endblock %}


{% block content %}
	<h2>Смена пароля пользователя {{ user.username }}</h2>
	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
        <input type="submit" value="Сохранить">
	</form>
{% endblock content %}