{% extends 'layout/basic.html' %}

{% load bootstrap4 %}

{% block title %}
	Смена пароля
{% endblock title %}

{% block sidebar %}
    <li class="nav-item"><a class="top_side_bar">Смена пароля</a></li>
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item active" aria-current="page">
        <a href="{% url 'main:profile_url' %}">Мой профиль</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Изменить пароль
    </li>
{% endblock %}


{% block content %}
	<h2>Смена пароля пользователя {{ user.username }}</h2>
	<form method="post">
		{% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        <input class="btn btn-outline-primary mb-4" style="background-color: #32e2b4; color: black; border: #32e2b4" type="submit" value="Сохранить">
	</form>
{% endblock content %}