{% extends "layout/basic.html" %}

{% load bootstrap4 %}

{% block title %}
	Reset password
{% endblock title %}

{% block sidebar %}
    <li class="nav-item"><a class="top_side_bar">Сбросить пароль</a></li>
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item active" aria-current="page">
        Сбросить пароль
    </li>
{% endblock %}

{% block content %}
	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
        <input type="submit" value="Изменить пароль">
		<input type="hidden" name="next" value="{{ next }}">
	</form>
{% endblock content %}