{% extends 'layout/basic.html' %}

{% load bootstrap4 %}

{% block title %}
    Авторизация
{% endblock %}

{% block sidebar %}
    <li class="nav-item"><a class="top_side_bar">Авторизация</a></li>
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item active" aria-current="page">
        Авторизация
    </li>
{% endblock %}

{% block content %}
    <h1>Авторизация</h1>

    <form method="post">
        {% csrf_token %}
        <div class="col-md-4">
            {% bootstrap_form form layout='horizontal' %}
        </div>
        <input class="btn btn-outline-primary mb-4" style="background-color: #32e2b4; color: black; border: #32e2b4" type="submit" value="Войти">
    </form>
    <p><a href="{% url 'main:registration_url' %}">Регистрация</a></p>
    <p><a href="{% url 'main:password_reset_url' %}">Забыли пароль?</a></p>
{% endblock %}

