{% extends "layout/basic.html" %}

{% block title %}
	Регистрация завершена
{% endblock title %}

{% block sidebar %}
    <p class="top_side_bar">Регистрация выполнена</p>
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item active" aria-current="page">
        Письмо было отправлено
    </li>
{% endblock %}

{% block content %}
	<h2>Регистрация</h2>
	<p>Регистрация нового пользователя.</p>
	<p>На адрес электронной почты, указанный пользователем, выслано письмо для активации.</p>
{% endblock content %}