{% for task in tasks %}
    <div class="card text-white bg-dark">
        <p class="card-header">
            <a style="font-size:20px" href="{{ task.get_absolute_url }}"><q>{{ task.title }}</q></a>
            <span> by {{ task.teacher.first_name }}</span>
            <span> {{ task.teacher.last_name }}</span>
            <span style="color: #A01D26;"> @{{ task.teacher.username }}</span>
            <span class="float-right"><small><em>{{ task.date_publish }}</em></small></span>
        </p>
        <div class="card-body">
            <p class="card-text">{{ task.task_text }}</p>
        </div>

    </div>
    <br>
{% endfor %}