{% extends 'layout/basic.html' %}

{% load bootstrap4 %}

{% block title %}
    Create course
{% endblock %}

{% block sidebar %}
    {% include 'includes/side_bar_course_control.html'%}
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item active" aria-current="page">
        <a href="{% url 'main:profile_url' %}">Мой профиль</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Изменить курс
    </li>
{% endblock %}

{% block content %}
    <h1>Изменить курс {{ form.course.title }}</h1>
    <form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{% bootstrap_form form layout='horizontal' %}
		<input class="btn btn-outline-primary mb-4" style="background-color: #32e2b4; color: black; border: #32e2b4" type="submit" value="Сохранить изменения">
	</form>
{% endblock content %}