{% extends 'layout/basic.html' %}


{% block title %}
    Все курсы
{% endblock %}

{% block sidebar %}
    <li class="nav-item"><a class="top_side_bar">Все курсы</a></li>
    {% if user.is_active %}
        <li class="nav-item"><a href="{% url 'testing_system:user_courses_list_url' %}">— Мои курсы</a></li>
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item active" aria-current="page">
        Курсы
    </li>
{% endblock %}

{% block content %}
    <h1>Все курсы</h1>
    <hr>
    <div class="sidebar" style="margin-bottom: 20px; height: 100px">
    </div>

    {% include 'includes/course_cards.html'%}

{% endblock %}