{% extends 'layout/basic.html' %}

{% load thumbnail %}

{% block title %}
    All courses
{% endblock %}

{% block sidebar %}
    <li class="list-group-item"><a class="btn btn-outline-dark" href="{% url 'testing_system:create_course_url' %}">Создать курс</a></li>
    <li class="list-group-item"><a href="{% url 'testing_system:course_control_url' %}">Курсы</a></li>
    <li class="list-group-item"><a href="{% url 'testing_system:course_control_members_url' %}">Участники курсов</a></li>
    <li class="list-group-item"><a href="{% url 'testing_system:course_control_tasks_url' %}">Задачи курсов</a></li>
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item active" aria-current="page">
        <a href="{% url 'main:profile_url' %}">Мой профиль</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Управление курсами
    </li>
{% endblock %}

{% block content %}

    <h1>Управление курсами</h1>
    <hr>

    <form method="post">
        {% csrf_token %}
        {% for course in courses %}
            {% if course.image %}
                <img class="profile_photo" src="{% thumbnail course.image 'default' %}">
            {% endif %}
            <h4>
                Курс <a href="{% url 'testing_system:detail_course_url' pk=course.pk%}"><q>{{ course.title }}</q></a>
                {% if course.is_shown  %}
                    <span class="badge badge-success">Курс отображается для всех</span>
                {% else %}
                    <span class="badge badge-danger">Курс не отображается </span>
                {% endif %}
                <a href="{% url 'testing_system:change_course_url' pk=course.pk%}" class="btn btn-outline-dark">Редактировать курс</a>
            </h4>
            <p>
                {% if course.availability == "true" %}
                    <span class="badge badge-success">Доступен для всех</span>
                {% else %}
                    <span class="badge badge-danger">Закрытый</span>
                {% endif %}
                <span><small><em>{{ course.date_publish }}</em></small></span>
            </p>
            <p>
                {{ course.description }}
            </p>
            <hr>
        {% endfor %}
    </form>

{% endblock %}