{% extends 'layout/basic.html' %}
{% block title %}
    Detail task № {{ task.pk }}
{% endblock %}

{% block content %}
    <h2>Задание № {{ task.pk }} <i>{{ task.date_publish }}</i></h2>
    <h3>{{ task.title }}</h3>
    <p>{{ task.task_text }}</p>
    <hr>
    <h2>Тесты:</h2>
    <p>{{ task.tests }}</p>
    <hr>
    <h2 style="text-align: center;">Форма отправки</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div style="display: flex; flex-direction: row; justify-content: space-around;">
            <div>
                <p>{{ form.file }}</p>
                 <input type="submit" value="Отправить">
            </div>
            <div>
                <h3>OR</h3>
            </div>
            <div>
                <p>{{ form.code_text }}</p>
                 <input type="submit" value="Отправить">
            </div>

        </div>
        <input type="hidden" name="task" value="{{ task.pk }}">
        <input type="hidden" name="student" value="{{ user.pk }}">
    </form>
{% endblock %}