{% extends 'layout/basic.html' %}

{% block title %}
    Все курсы
{% endblock %}

{% block sidebar %}
    <li class="nav-item"><a class="top_side_bar">Все курсы</a></li>
    {% if user.is_active %}
        <li class="nav-item"><a href="{% url 'testing_system:user_courses_list_url' %}">— Мои курсы</a></li>
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item active" aria-current="page">
        Найденные курсы
    </li>
{% endblock %}

{% block content %}
    <h1>Найденные курсы</h1>
    <hr>
    {% if courses %}
        {% include 'includes/course_cards.html'%}
    {% else %}
        <p><b>Курсов не найдено</b></p>
    {% endif %}



{% endblock %}