{% extends 'layout/basic.html' %}


{% block title %}
    Курсы пользователя
{% endblock %}

{% block sidebar %}
    <li class="nav-item"><a class="top_side_bar">Курсы для пользователя</a></li>
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item active" aria-current="page">
        <a href="{% url 'testing_system:courses_list_url' %}">Все курсы</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        Курсы {{ user.username }}
    </li>
{% endblock %}

{% block content %}
    <h1>Курсы <a href="{% url 'main:profile_url' %}">{{ user.username }}</a></h1>
    <hr>
    {% include 'includes/course_cards.html' with courses=user_courses %}

{% endblock %}