{% extends 'layout/basic.html' %}

{% block title %}
    All courses
{% endblock %}

{% block sidebar %}
    <li class="nav-item"><a class="top_side_bar">Все доступные курсы из заданий</a></li>
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item active" aria-current="page">
       Доступные задания
    </li>
{% endblock %}

{% block content %}
    <h1>Здесь отображаются все доступные <a href="{% url 'main:profile_url' %}">{{ user.username }}</a> задания</h1>
    <hr>
    {% include 'includes/task_crads.html'%}
{% endblock %}