<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
    <title>{% block title %}{% endblock %}
    </title>
</head>
<body>
    <header>
        <ul>
            <li><a href="{% url 'main:index_url' %}">Главная</a></li>
            {% if user.is_authenticated %}
		 	    <li>{{ user.username }}<a href="{% url 'main:logout_url' %}">(Выйти)</a></li>
	    	{% else %}
                <li><a href="{% url 'main:login_url' %}">Войти/Зарегестрироваться</a></li>
            {% endif %}
        </ul>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

</body>
</html>