{% extends 'layout/basic.html' %}

{% load thumbnail %}

{% block title %}
    Профиль пользователя
{% endblock %}


{% block sidebar %}
    <li class="list-group-item"><a href="{% url 'testing_system:index_url' %}">Отправленные задачи(не работает)</a></li>
    <li class="list-group-item"><a href="{% url 'testing_system:user_courses_list_url' %}">Мои курсы</a></li>
    {% if user.teacher  %}
{#        <li class="list-group-item"><a href="{% url 'testing_system:index_url' %}">Созданные задачи(не работает)</a></li>#}
{#        <li class="list-group-item"><a class="btn btn-outline-dark" href="{% url 'testing_system:create_url' %}">Создать задачу</a></li>#}
        <li class="list-group-item"><a href="{% url 'testing_system:course_control_url' %}">Управление курсами</a></li>
    {% endif %}
{% endblock %}


{% block breadcrumb %}
    {{ block.super }}
    <li class="breadcrumb-item active" aria-current="page">
        Мой профиль
    </li>
{% endblock %}


{% block content %}
    <h2>Профиль пользователя {{ user.username }}
    {% if user.teacher %}
        <span style="color: red">Teacher</span>
    {% endif %}
    </h2>
    <div class="row">
        <div class="col-lg-4">
            {% if user.image %}
                <img class="profile_photo" src="{% thumbnail user.image 'default' %}">
            {% endif %}
        </div>
        <div class="col-lg-8">
            <p>Имя профиля: {{ user.username }}</p>
            <p>Ваше имя:
                {% if user.first_name and user.last_name %}
                    {{ user.first_name }} {{ user.last_name }}
                {% else %}
                    <b style="color:red;">Не указано</b>
                {% endif %}

            </p>
            <p>Email: {{ user.email }}</p>
            <p>Дата регистрации: {{ user.date_joined }}</p>
            <div class="btn-group">
                <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Настройка
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'main:profile_change_url' %}">Изменить данные</a>
                    <a class="dropdown-item" href="{% url 'main:password_change_url' %}">Изменить пароль</a>
                    <a class="dropdown-item" href="{% url 'main:profile_delete_url' %}">Удалить аккаунт</a>
                    <!-- <div class="dropdown-divider"></div> -->
                </div>
            </div>
        </div>
    </div>
    <hr>
    {% if user.teacher %}
        <h3>Созданные курсы:</h3>
        {% if user.teacher.teacher_boss.all  %}
            {% include 'includes/course_cards.html' with courses=user.teacher.teacher_boss.all %}
        {% else %}
            <p style="color: red">Вы пока не создали ни одного курса</p>
        {% endif %}
        <hr>
        <h3>Созданные задачи:</h3>
        {% if tasks %}
            {% include 'includes/task_crads.html' %}
        {% else %}
            <p style="color: red">Вы пока не создали ни одного задания</p>
        {% endif %}
        <hr>
    {% endif %}
    <div>
        <h3>Отправленные решения:</h3>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Задание</th>
                <th scope="col">Название файла</th>
                <th scope="col">Время отправки</th>
                <th scope="col">Итог</th>
            </tr>
            </thead>
            <tbody id="counter">
            {% for solution in page_object.object_list %}
                <tr>
                    <td><a href="{{ solution.task.get_absolute_url }}">{{ solution.task }}</a></td>
                    <td>{{ solution.file }}</td>
                    <td>{{ solution.dispatch_time }}</td>
                    <td>{{ solution.status }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        {% if is_paginated %}
            <nav aria-label="Page navigation example" style="background-color: #F4F4EF">
                <ul class="pagination">
                    <li class="page-item {% if not prev_url %}disabled{% endif %} "><a class="page-link"
                                                                                       href="{{ prev_url }}">Previous</a>
                    </li>

                    {% for n in page_object.paginator.page_range %}

                        {% if page_object.number == n %}
                            <li class="page-item disabled"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                        {% elif n > page_object.number|add:-2 and n < page_object.number|add:2 %}
                            <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
                        {% endif %}
                    {% endfor %}

                    <li class="page-item {% if not next_url %}disabled{% endif %} "><a class="page-link"
                                                                                       href="{{ next_url }}">Next</a>
                    </li>
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock %}

